.temperature {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.temperature .low {
    color: grey;
    
}

.temperature span {
    font-size: 13px;
    line-height: 10px;
    vertical-align: top;
    margin-left: 3px;
}