.weather {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    box-shadow: 9px 7px 40px -6px rgba(0,0,0,0.25);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather:hover {
    background-color: #ddd;
}